<p id="notice"><%= notice %></p>

<h1>Admin Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Intro</th>
      <th>Concept</th>
      <th>Report</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_companies.each do |admin_company| %>
      <tr>
        <td><%= admin_company.name %></td>
        <td><%= admin_company.intro %></td>
        <td><%= admin_company.concept %></td>
        <td><%= admin_company.report %></td>
        <td><%= admin_company.salary %></td>
        <td><%= link_to 'Show', admin_company %></td>
        <td><%= link_to 'Edit', edit_admin_company_path(admin_company) %></td>
        <td><%= link_to 'Destroy', admin_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Company', new_admin_company_path %>
<%= link_to 'Admin Home', admin_path %>