<h1><%= @job.name %></h1>
<h2>工作內容</h2>
<%= simple_format @job.intro %>
<h2>條件要求</h2>
<%= simple_format @job.condition %>
<h2>公司福利</h2>
<%= simple_format @job.welfare %>
<h2>薪資範圍</h2>
<%= simple_format @job.salary %>
<a>應徵此職缺</a>